<div class="categorias-box">

    <div class="categoria">
        1
    </div>

    <div class="categoria">
        2
    </div>

    <div class="categoria">
        3
    </div>

    <div class="categoria">
        4
    </div>

    <div class="categoria">
        5
    </div>

    <div class="categoria">
        6
    </div>

    <div class="categoria">
        7
    </div>

    <div class="categoria">
        8
    </div>

    <div class="categoria">
        9
    </div>

    <div class="categoria">
        10
    </div>

</div>